* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aboutus {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.aboutus .container_all {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
}

.aboutus .container_all .lefth {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.aboutus .container_all .lefth .firma {
    display: none;
}

.aboutus .container_all .lefth .textaboutus {
    width: 80%;
    height: auto;
    background-color: rgba(204, 204, 204, 0.205);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.aboutus .container_all .lefth .textaboutus h2 {
    width: 100%;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #000;
    padding-bottom: 10px;
    line-height: 25px;
}

.aboutus .container_all .lefth .textaboutus p {
    font-family: serif;
    letter-spacing: 1.5px;
    font-style: oblique;
    line-height: 25px;
    font-size: 16px;
}

.aboutus .container_all .lefth .imgaboutus {
    width: 90%;
    height: auto;
}

.aboutus .container_all .lefth .imgaboutus img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.aboutus .container_all .rigth {
    width: 100%;
    height: auto;
}

.aboutus .container_all .rigth .imgrigth {
    display: none;
}

.aboutus .container_all .rigth .discover {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.8);
    padding: 20px 40px;
    text-align: center;
}

.aboutus .container_all .rigth .discover a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}
