* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.aboutus {
    width: 100%;
    height: auto;
    margin-bottom: 100px;
}

.aboutus .container_all {
    width: 100%;
    height: auto;
    
    display: flex;
    flex-wrap: wrap;
}

.aboutus .container_all .lefth {
    width: 100%;
    height: auto;
    margin-bottom: 50px;
}

.aboutus .container_all .lefth .firma {
    display: none;
}

.aboutus .container_all .lefth .textaboutus {
    width: 80%;
    height: auto;
    background-color: rgba(204, 204, 204, 0.205);
    margin-left: auto;
    margin-right: auto;
    padding: 20px 10px;
    text-align: center;
    letter-spacing: 3px;
    margin-bottom: 70px;
}

.aboutus .container_all .lefth .textaboutus h2 {
    width: 100%;
    font-family: serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    letter-spacing: 3px;
    color: #000;
    padding-bottom: 10px;
    line-height: 25px;
}

.aboutus .container_all .lefth .textaboutus p {
    font-family: serif;
    letter-spacing: 1.5px;
    font-style: oblique;
    line-height: 25px;
    font-size: 16px;
}

.aboutus .container_all .lefth .imgaboutus {
    width: 90%;
    height: auto;
}

.aboutus .container_all .lefth .imgaboutus img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

.aboutus .container_all .rigth {
    width: 100%;
    height: auto;
}

.aboutus .container_all .rigth .imgrigth {
    display: none;
}

.aboutus .container_all .rigth .discover {
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.8);
    padding: 20px 40px;
    text-align: center;
}

.aboutus .container_all .rigth .discover a {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
}

@media screen and (min-width: 768px) {

    .aboutus .container_all .lefth .textaboutus {

        padding: 70px 50px;
    }

    .aboutus .container_all .rigth {
        padding-top: 40px;
    }

    .aboutus .container_all .rigth .discover {
        width: 40%;
    }

    .aboutus .container_all .lefth .imgaboutus {
        width: 90%;
        /*margin-left: 80px;*/
        
    }
}

@media screen and (min-width: 1000px) {

    .aboutus {
        margin-top: 60px;
    }

    .aboutus .container_all .lefth .firma {
        width: 40%;
        display: block;
        position: absolute;
        left: 45px;
    }

    .aboutus .container_all .lefth {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
    }

    .aboutus .container_all .lefth .textaboutus {
        width: 60%;
        z-index: 10;
        margin-right: 40px;
        padding: 20px 70px;
    }

    .aboutus .container_all .lefth .imgaboutus {
        width: 80%;
        margin-left: 80px;
        
    }

    .aboutus .container_all .rigth {
        width: 38%;
    }

    .aboutus .container_all .rigth .imgrigth {
        width: 80%;
        height: 55%;
        display: block;
    }

    .aboutus .container_all .rigth .imgrigth img {
        width: 100%;
        margin-top: 25px;
    }

    .aboutus .container_all .rigth .discover {
        width: 60%;
       margin-left: -120px;
       margin-top: 205px;
    }
}


@media screen and (max-width: 1440px) {

    /*.aboutus .container_all .lefth .textaboutus {
        width: 50%;
        height: 600px;
    }

    .aboutus .container_all .lefth .textaboutus h2 {
        padding-top: 20px;
    }

    .aboutus .container_all .lefth .textaboutus p {
        line-height: 35px;
    }*/

    /*.aboutus .container_all .rigth .discover {
        width: 60%;
        margin-top: 120px;
    }*/

    /*.aboutus .container_all .lefth .imgaboutus {
        width: 70%;
        margin-left: 220px;
    }

    .aboutus .container_all .lefth .imgaboutus img {
        width: 100%;
    }

    .aboutus .container_all .lefth .firma {
        left: 18%;
    }*/
}